{% extends 'base.html' %}
{% load static %}

{% block title %}
  My Blog
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'my_blog/post.css' %}" />
  <link rel="stylesheet" href="{% static 'my_blog/index.css' %}" />
{% endblock %}

{% block content %}
  <section id="welcome">
    <header>
      <img src="{% static 'my_blog/images/my_pic_for_blog.jpg' %}" alt="Prudhvi - The Author Of This Blog" />
      <h2>PRUDHVI'S BLOG</h2>
    </header>
    <p>Hii, I am Prudhvi.....</p>
  </section>

  <section id="latest-posts">
    <h2>My Latest Thoughts</h2>

    <ul>
      {% for post in posts %}
        {% include 'my_blog/includes/post.html' %}
      {% endfor %}
    </ul>
  </section>

  <section id="about">
    <h2>What I Do</h2>
    <p>I love mountain hiking</p>
    <p>I wanna explore all the himachal places...</p>
  </section>t
{% endblock %}
